.chat-live {
  height: 100%;
}

#chat-list-component {
  transition: linear all 200ms;
  width: 240px;
  border-right: 1px solid #1f2227;
  background-color: #222932;
  height: 100%;

  h4 {
    background-color: #627287;
    padding: 8px 12px;
  }

  ul {

    li {
      padding: 4px 12px;
      cursor: pointer;
      &:hover {
        background-color: #1f2937;
      }
    }
  }
}

.chat-container {
  padding: 20px;
}


h2 {
  font-size: 1.3em;
  padding-bottom: 14px;
}