i.i-chat {
  color: white;
  height: 28px;
  width: 28px;
  padding-top: 2px;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;

  &:hover {
    color: $color-main;
  }
}

i.i-chat.close {
  color: $color-main;
}

.chat-list-component {
  position: absolute;
  left: 0;
  width: 300px;
  top: 51px;
  height: calc(100vh - 50px);
  -webkit-box-shadow: 2px 1px 4px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 4px -2px rgba(0,0,0,0.75);
  box-shadow: 2px 1px 4px -2px rgba(0,0,0,0.75);
  background-color: #222932
}