.chat-live {
  height: 100%;
}

.new-chat-input {

  width: 600px;
  margin: 30px;
  margin-bottom: 100px;

  input {
    width: 100%;
    height: 60px;
    padding: 8px;
    border-radius: 20px;
    color: black;
  }

  .new-channel {
  }

  .results, .new-channel {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .tooltip {
      background-color: gray;
      padding: 5px;
      border-radius: 6px;
      margin-left: -168px;
    }
    .has-tooltip:last-child .tooltip {
      margin-left: 20px !important;
    }
    button {
      width: 35px;
      height: 35px;
    }
    div {
      margin-bottom: 5px;
      img {
        height: 40px;
        width: 40px;
        margin-right: 8px;
        display: inline-block;
        border-radius: 8px;
      }
      &:hover {
        background-color: #222932;
      }
    }
  }
}

.chat-with {
  input {
    height: 30px;
    padding: 8px;
    border-radius: 15px;
    border: 0;
    width: 500px;
    margin: 0 30px;
  }
}

#chat-list-component {
  transition: linear all 200ms;
  width: 320px;
  min-width: 320px;
  border-right: 1px solid #1f2227;
  background-color: #222932;
  height: 100%;

  h4 {
    background-color: #627287;
    padding: 8px 12px;
  }

  ul {

    li {
      padding: 4px 12px;
      cursor: pointer;
      position: relative;
      .notif {
        position: absolute;
        right: 5px;
        display: inline-block;
        background-color: red;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        text-align: center;
        font-weight: bold;
        padding-right: 2px;
      }
      img {
        display: inline-block;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 5px;
      }
      &:hover {
        background-color: #1f2937;
      }
    }
  }
}

.chat-container {
  padding: 20px;
}


.h2 {
  font-size: 1.3em;
  padding-bottom: 14px;
}

.footer form {
  button {
    width: 46px;
    height: 42px;
    background-color: transparent;
    min-width: 42px;
    padding: 0 5px;
  }
  textarea {
    min-height: 51px;
    padding: 12px;
  }
}

.body {
  max-height: calc(100vh - 220px);
  overflow: auto;
  margin-bottom: 22px;
  div {
    background-color: #222932;
  }
}

.footer {
  input {
    margin-bottom: 0 !important;
  }
}