i.i-chat {
  color: white;
  height: 28px;
  width: 28px;
  padding-top: 2px;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;

  &:hover {
    color: $color-main;
  }
}

i.i-chat.close {
  color: $color-main;
}

.live-root.chat-opened {
  padding-left: 260px !important;
}

#chat-list-component {
  transition: linear all 200ms;
  position: absolute;
  left: -240px;
  width: 240px;
  top: 51px;
  height: calc(100vh - 50px);
  // box-shadow: 2px 1px 4px -2px rgba(0,0,0,0.75);
  border-right: 1px solid #1f2227;
  background-color: #222932;

  h4 {
    background-color: #627287;
    padding: 8px 12px;
  }

  ul {

    li {
      padding: 4px 12px;
      cursor: pointer;
      &:hover {
        background-color: #1f2937;
      }
    }
  }
}

#chat-list-component.opened {
  left: 0;
}