.pointer {
  cursor: pointer;
}

a:hover {
  color: $color-main;
}

.form {
  input, textarea, .input, select {
    margin-bottom: 20px;
    border-radius: 4px;
    height: 60px;
    background-color: #627287;
    padding: 0 20px;
    color: white;
    font-size: 18px;
  }

  .checkbox {
    display: flex;
    align-items: center;

    input {
      margin: 0;
      width: 34px;
      margin-right: 20px;
    }
  }

}

.button {
  border-radius: 4px;
  height: 42px;
  min-width: 80px;
  padding: 0 14px;
  background-color: #627287;

  &:hover {
    color: $color-main;
  }
}

.button.icon {
  min-width: 38px;
  min-height: 38px;
  width: 38px;
  height: 38px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  padding-left: 8px;

  svg {
    width: 22px;
    height: 22px;
  }
}
