.pointer {
  cursor: pointer;
}

a:hover {
  color: $color-main;
}

input, textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 42px;
  padding: 10px;
}

label {
  font-style: italic;
  font-weight: 300;
  margin-top: 0.5em;
}

button {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 42px;
  min-width: 80px;
  padding: 0 14px;

  &:hover {
    color: $color-main;
  }
}